#mainPane{
  -fx-background-color: #e6e6e6;
  -fx-border-radius:12px 0px 0px 0px;
  -fx-background-radius:12px 0px 0px 0px;
  -fx-border-color: #E464C0;
}

.icon_left {
  -fx-fill: #737373;
}

.btn-left:hover .icon_left {
  -fx-fill: #ff66ff;
}

.btn-left:hover {
  -fx-cursor: hand;
}

#searchBar {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}

#removeSearch {
  -fx-background-color: transparent;
}

#removeSearch:hover {
  -fx-cursor: hand;
}

#autoCompleteTxtField {
  -fx-border-radius: 30px;
  -fx-background-radius: 30px;
  -fx-background-color: #e6e6e6;
  -fx-border-color: #E464C0;
}

#autoCompleteTxtField:hover {
  -fx-border-radius: 30px;
  -fx-background-radius: 30px;
  -fx-background-color: #d9d9d9;
  -fx-cursor: text;
}

.icon_top {
  -fx-fill: #737373;
}

.btn-top:hover .icon_top {
  -fx-fill: #ff66ff;
}

.btn-top:hover {
  -fx-cursor: hand;
}

.tooltip {
  -fx-show-delay: 400ms;
}

.dropdown-menu {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 8px;
    -fx-border-color: #E464C0;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 4);
}

.dropdown-menu .menu-item {
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

.dropdown-menu .menu-item:hover {
    -fx-background-color: #ff66ff;
    -fx-cursor: hand;
}

.dropdown-menu .menu-item:focused {
    -fx-background-color: #ff66ff;
}

.dropdown-menu-dark {
    -fx-background-color: #000000;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #165B33;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 10, 0.0, 0, 4);
}

.dropdown-menu-dark .menu-item {
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-text-fill: white;
}

.dropdown-menu-dark .menu-item:hover {
    -fx-background-color: #1C1C1C;
    -fx-cursor: hand;
}

.dropdown-menu-dark .menu-item:focused {
    -fx-background-color: #1C1C1C;
}

.btn-search:hover {
  -fx-cursor: hand;
}

.btn-search {
  -fx-background-color: transparent;
}

.icon-search {
  -fx-fill: BLACK;
}

.icon-search:hover {
  -fx-fill: #7c7a7a;
}
