@font-face {
    font-family: 'HYWenHei-85W';
}

* {
    -fx-font-family: 'HYWenHei-85W';
    -fx-text-fill: #584f58;
}

/* Style cho ComboBox với hiệu ứng lồi */
/* Style cho ComboBox với hiệu ứng lồi */
.combo-box {
    -fx-background-color: #f7ebf3; /* Màu nền */
    -fx-border-color: #E464C0; /* Màu viền */
    -fx-border-width: 2px;


    /* Tạo phần lồi ra bằng cách giả lập hai đoạn vuông góc ở trên và dưới */
    -fx-shape: "M 50 175 L 50 150 L 750 150 L 750 175 A 10 75 0 1 1 750 350 L 750 375 L 50 375 L 50 350 A 10 75 0 1 1 50 175 Z";
    /* Tạo hiệu ứng hai đoạn kéo vuông góc */
    -fx-background-insets: 0;

}

.combo-box:hover {
    -fx-background-color: #f4f1f3; /* Thay đổi màu nền khi hover */
}

.combo-box .arrow-button {
    -fx-background-color: transparent; /* Mũi tên trong suốt */
    -fx-padding: 0 10 0 0;
}

.combo-box .arrow {
    -fx-shape: "M 0 0 L 4 4 L 8 0"; /* Tam giác cho mũi tên */
    -fx-background-color: #8E7D4B; /* Màu mũi tên */

}

.custom-combo-box {
    -fx-font-size: 17px; /* Thay đổi kích thước chữ cho ComboBox */

}

/* Tùy chỉnh cho các mục trong danh sách (ListCell) */
.combo-box-popup .list-view {
    -fx-background-color: rgba(0, 0, 0, 0.8); /* Màu nền đen với độ trong suốt 70% */
    -fx-background-radius: 15; /* Bo góc cho toàn bộ nền */
    -fx-border-color: transparent; /* Xóa viền của popup */
}


.combo-box-popup .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.0); /* Màu nền */
    -fx-text-fill: white; /* Màu chữ */
    -fx-background-radius: 15 15 15 15; /* Bo góc tròn đều cho các mục */
    -fx-border-radius: 30 30 30 30;

    -fx-padding: 10px;
}

/* Hiệu ứng hover khi di chuột qua các mục trong danh sách */
.combo-box-popup .list-cell:hover {
    -fx-background-color: rgba(113, 120, 135, 1.0); /* Màu đen nhạt khi hover */
    -fx-text-fill: white; /* Màu chữ trắng khi hover */
}

/* Khi mục được chọn */
.combo-box-popup .list-cell:selected {
    -fx-background-color: rgba(113, 120, 135, 1.0); /* Màu đen nhạt khi hover */
    -fx-text-fill: white; /* Màu chữ trắng khi hover */
}
.label-sort{
    -fx-background-color: #f9d0ee; /* Màu nền */
    -fx-border-color: #E464C0; /* Màu viền */
    -fx-border-width: 2px;
    -fx-padding: 10px;

    /* Tạo phần lồi ra bằng cách giả lập hai đoạn vuông góc ở trên và dưới */
    -fx-shape: "M 50 175 L 50 150 L 750 150 L 750 175 A 10 75 0 1 1 750 350 L 750 375 L 50 375 L 50 350 A 20 75 0 1 1 50 175 Z";


    /* Tạo hiệu ứng hai đoạn kéo vuông góc */
    -fx-background-insets: 0;
    -fx-font-size: 17px; /* Thay đổi kích thước chữ cho ComboBox */
}
.table-view {
    -fx-border-color: #E464C0; /* Màu viền của TableView */
    -fx-border-width: 0;    /* Độ rộng viền để rõ ràng hơn */
    -fx-background-insets: 0; /* Xóa insets để không còn khoảng trống */
     -fx-padding: 0; /* Xóa khoảng padding nếu có */

}
.table-view .column-header {
    -fx-pref-height: 50px;  /* Điều chỉnh chiều cao của header */
    -fx-background-color: #f9d0ee;
    -fx-text-fill: black; /* Màu chữ */
    -fx-font-size: 17px;
    -fx-border-color: transparent; /* Màu viền giữa các ô */
    -fx-border-width: 0; /* Chỉ giữ viền dưới cho header */
    -fx-padding: 0; /* Xóa khoảng padding nếu có */

}

.table-view .table-row-cell {
    -fx-border-color: #E464C0; /* Màu sắc vách ngăn giữa các cột */
    -fx-border-width: 0 0 0 0; /* Thêm vách ngăn bên phải */
    -fx-background-color: #f7ebf3;
}
.table-row-cell {
    -fx-cell-size: 55px; /* Điều chỉnh chiều cao dòng ở đây */
    -fx-font-size: 17px;

}

.table-cell {
    -fx-alignment: CENTER; /* Tùy chỉnh canh giữa nội dung */
    -fx-border-color: #E464C0; /* Màu viền giữa các ô */
    -fx-border-width: 0.5px;     /* Độ rộng viền để rõ ràng hơn */
    -fx-text-fill: #8e8e8e;
}
.table-view .column-header .label {
    -fx-border-width: 0.5px;
    -fx-border-color: #E464C0;
}

.button-rightButton {
  -fx-shape: "M 350 200 A 50 50 0 1 1 350 400 A 50 50 0 1 1 350 200";
  -fx-background-color: #f9d0ee;
  -fx-border-color: #E464C0;
}

.button-rightButton:hover {
  -fx-background-color: #f9e1f2; /* Thay đổi màu nền khi hover */
}

.button-rightButton:pressed {
  -fx-background-color: #bba0b4; /* Thay đổi màu nền khi nhấn */
}

.button-muonSach{
    -fx-background-color: #f9d0ee; /* Màu nền */
    -fx-border-color: #E464C0; /* Màu viền */
    -fx-border-width: 1px;
      /* Tạo phần lồi ra bằng cách giả lập hai đoạn vuông góc ở trên và dưới */
      -fx-shape: "M 50 175 L 50 150 L 750 150 L 750 175 A 40 75 0 1 1 750 350 L 750 375 L 50 375 L 50 350 A 40 75 0 1 1 50 175 Z";
      /* Tạo hiệu ứng hai đoạn kéo vuông góc */
      -fx-background-insets: 0;
      -fx-font-size: 17px; /* Thay đổi kích thước chữ cho ComboBox */
}
.button-muonSach:hover {
  -fx-background-color: #f9e1f2; /* Thay đổi màu nền khi hover */
}
.button-muonSach:pressed {
  -fx-background-color: #bba0b4; /* Thay đổi màu nền khi hover */
}
