#ContentOfSuggestion{
  -fx-font-size:16;
  -fx-font-weight: bold;
}

#notification-suggestion {
  -fx-font-size:14;
  -fx-font-weight: bold;
  -fx-text-fill: #e05269;
}

#notification-suggestion-marked {
  -fx-font-size: 14;
  -fx-font-weight: 500;
  -fx-text-fill: #e05269;
}

#notification-suggestion-dark {
  -fx-font-size:14;
  -fx-font-weight: bold;
  -fx-text-fill: WHITE;
}

#notification-suggestion-marked-dark {
  -fx-font-size: 14;
  -fx-font-weight: 400;
  -fx-text-fill: WHITE;
}

#IconOfContent{
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0, 3, 3);
}

#ListView {
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 8;
    -fx-border-radius:8;
    -fx-border-color:#E464C0;
    -fx-border-width:2;
    -fx-effect: dropshadow(gaussian, #E464C0, 5, 0, 1, 1);
}
#ListView .scroll-bar {
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 8;
}
#ListView .scroll-bar .thumb{
    -fx-background-color: rgba(170,170,170,1);
    -fx-background-radius: 8;
}
#ListView .scroll-bar .thumb:hover{
    -fx-background-color: rgba(150,150,150,1);
}
#ListView .scroll-bar .thumb:pressed {
    -fx-background-color: rgba(120,120,120,1);
}
#ListView .scroll-bar .increment-button {
    -fx-background-color: rgba(170,170,170,1);
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}
#ListView .scroll-bar .decrement-button {
    -fx-background-color: rgba(170,170,170,1);
    -fx-shape: "M 0 4 L 8 4 L 4 0 Z";
}
#ListView .scroll-bar .increment-button:hover,
#ListView .scroll-bar .decrement-button:hover{
    -fx-background-color: rgba(150,150,150,1);
}
#ListView .scroll-bar .increment-button:pressed,
#ListView .scroll-bar .decrement-button:pressed{
    -fx-background-color: rgba(120,120,120,1);
}

#Basic{
  -fx-background-color:rgba(255,255,255,1);
  -fx-background-radius:8;
  -fx-border-radius:8;
}